force-app/main/default/flows/ListContactsByAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignFieldValues</name>
        <label>値を割り当て</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollectionVal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollectionVal</name>
        <label>コレクションに割当</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ListContactsByAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>取引先の取引先責任者を一覧</label>
    <loops>
        <name>Loop1</name>
        <label>編集済みレコードのループ</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>LoopContacts.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFieldValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>UpsertRecords</name>
        <label>レコードをUpsert</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>contacts</inputReference>
    </recordCreates>
    <screens>
        <name>ConfirmScreen</name>
        <label>確認画面</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpsertRecords</targetReference>
        </connector>
        <fields>
            <name>LoopToCheck</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>DiplayEditedRecords</name>
                <fieldText>&lt;p&gt;{!contacts[$EachItem].FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!contacts[$EachItem].Phone}{!contacts}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>contacts</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EditContacts</name>
        <label>取引先責任者を編集</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <fields>
            <name>LoopContacts</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ContactName</name>
                <fieldText>&lt;p&gt;{!ListContacts.selectedRows[$EachItem].Name}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <fields>
                <name>LastName</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>ListContacts.selectedRows[$EachItem].LastName</elementReference>
                </defaultValue>
                <fieldText>姓</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>FirstName</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>ListContacts.selectedRows[$EachItem].FirstName</elementReference>
                </defaultValue>
                <fieldText>名</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phone</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>電話</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>ListContacts.selectedRows[$EachItem].Phone</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>ListContacts.selectedRows</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ListContactsByAccountScreen</name>
        <label>取引先の取引先責任者を表示</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actions>
            <name>GetContacts</name>
            <actionName>GetContactsByAccountId</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>LookupAccount.recordId</elementReference>
                </value>
            </inputParameters>
            <label>取引先の取引先責任者を取得</label>
            <nameSegment>GetContactsByAccountId</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EditContacts</targetReference>
        </connector>
        <fields>
            <name>LookupAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先を検索</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CallGetContactsByAccountId</name>
            <extensionName>flowruntime:actionButtonField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先責任者を表示</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <elementReference>GetContacts.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inProgress</name>
                <value>
                    <elementReference>GetContacts.InProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>GetContacts.ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ListContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>取引先責任者</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContacts.Results.contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f72c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;氏名&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-13a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;メール&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-f29b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;電話&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>CallGetContactsByAccountId</eventSource>
            <handlers>
                <screenActionName>GetContacts</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ListContactsByAccountScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
