force-app/main/default/flows/MyOpeningOpportunitiesAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>私のアクティブな商談の金額 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>私のアクティブな商談の金額</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>MyOpeningOpportunities</name>
        <label>私のアクティブな商談</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumOpportunitiesAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplaySumOfMyOpportunitiesAmount</name>
        <label>私のアクティブな商談の合計金額を表示</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SumOfOpportunitiesAmount</name>
            <fieldText>&lt;p&gt;私のアクティブな商談金額の合計&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¥{!SumOpportunitiesAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MyOpeningOpportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>SumOpportunitiesAmount</name>
        <label>商談の金額を集計</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>DisplaySumOfMyOpportunitiesAmount</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>MyOpeningOpportunities</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Amount</stringValue>
                    </value>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
