force-app/main/default/flows/UploadJobOfferRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertCSVtoRecords</name>
        <label>CSVファイルをレコードに変換</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignRecordsToVariable</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>JobOffer__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>UploadFileInput.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>JobOffer__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>¥</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignRecordsToVariable</name>
        <label>Apexの出力を変数に割り当て</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>JobOfferRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertCSVtoRecords.convertedCSVRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpsertJobOfferRecords</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>求人をアップロード {!$Flow.CurrentDateTime}</interviewLabel>
    <label>求人をアップロード</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>UpsertJobOfferRecords</name>
        <label>求人レコードをUpsert</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CompleteCSVUploadScreen</targetReference>
        </connector>
        <inputReference>JobOfferRecords</inputReference>
    </recordCreates>
    <screens>
        <name>CompleteCSVUploadScreen</name>
        <label>完了画面</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayUploadedRecordCount</name>
            <fieldText>&lt;p&gt;実行結果: {!UpsertJobOfferRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayContentId</name>
        <label>コンテンツIDを表示</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConvertCSVtoRecords</targetReference>
        </connector>
        <fields>
            <name>ConfirmContentIds</name>
            <fieldText>&lt;p&gt;contentDocIds: {!UploadFileInput.contentDocIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadCSVScreen</name>
        <label>CSVファイルをアップロード</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplayContentId</targetReference>
        </connector>
        <fields>
            <name>UploadFileInput</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>求人のCSVファイル</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadFileInput.contentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>UploadFileInput.contentVersionIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UploadCSVScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobOfferRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobOffer__c</objectType>
    </variables>
</Flow>
